<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wots.lutmaar">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.hardware.camera.autofocus" />

    <permission
        android:name="com.example.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.gcm.permission.C2D_MESSAGE" />

    <permission
        android:name="com.wots.lutmaar.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.wots.lutmaar.permission.MAPS_RECEIVE" />
    <!--
         <permission
         android:name="com.pgi.routviewer.permission.MAPS_RECEIVE"
         android:protectionLevel="signature" />
    -->
  <!--  <uses-feature android:name="android.hardware.camera" android:required="true" />-->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature android:name="android.hardware.screen.landscape" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:name=".UtilClass.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLogin"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
            <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/ApiKey" />
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.analytics.globalConfigResource"
            android:resource="@xml/analytics_global_config" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".Activity.MapsDemoActivity"
            android:label="@string/title_activity_maps_demo">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wots.lutmaar.Activity.MainActivity" />
        </activity>
        <activity
            android:name=".Activity.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:label="@string/app_name">
            <intent-filter
                android:label="@string/app_name">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.UserDetailsActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:label="@string/title_activity_user_details"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeOrange">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wots.lutmaar.Activity.LoginActivity" />
        </activity>
        <activity
            android:name=".Activity.SignUpActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:label="@string/title_activity_sign_up"
            android:parentActivityName=".Activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeOrange"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wots.lutmaar.Activity.LoginActivity" />

        </activity>
        <activity
            android:name=".Activity.ForgetPasswordActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:label="@string/title_activity_froget_password"
            android:parentActivityName=".Activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeOrange"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wots.lutmaar.Activity.LoginActivity" />

        </activity>
        <activity
            android:name=".Activity.ForgetPasswordSetActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:label="@string/title_activity_forget_password_set"
            android:parentActivityName=".Activity.ForgetPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeOrange"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.ForgetPasswordActivity" />
        </activity>
        <activity
            android:name=".Activity.HomeActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:label="@string/title_activity_home"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </activity>
        <activity
            android:name=".Activity.DealDetailsActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:label="@string/title_activity_deal_details"
            android:parentActivityName=".Activity.HomeActivity"
            android:screenOrientation="portrait">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wots.lutmaar.Activity.HomeActivity" />
        </activity>

        <!--For FaceBook Login Prodess-->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1234"
            android:exported="true" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

       <!-- <activity android:name="com.facebook.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />-->

        <!--Twitter Login-->
        <activity android:name="com.twitter.sdk.android.core.identity.OAuthActivity"></activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="a310406385e57b10b30c68fbe1eb4197159f4f5b" />


        <!-- &lt;!&ndash;Google Login &ndash;&gt;
         <meta-data android:name="com.google.android.gms.version"
             android:value="@integer/google_play_services_version" />-->

        <receiver
            android:name=".UtilClass.MSGReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
               <!-- <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />-->
                <category android:name="com.example.gcm" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.wots.lutmaar.UtilClass.ConnectivityChangedReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service android:name=".UtilClass.MSGService" />
    </application>

</manifest>
